{% block sidebar %}

<style>
        .card{
            box-shadow: -6px 6px 12px #2765a3;
            
            
        }
        .card-header{
            color: rgb(255, 255, 255);
            background-color: #0968e4;

        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Suhas</h5>
    <div class="card-body">
        <p class="card-text"> * Full Stack ML Engineer, Tech Geek! . <br> * Pursuing MS in SE @SJSU.
                            <br> * Perfecting Python one day at a time!<br> 
        </p>
        <a href="https://suhasab.github.io/"
           class="btn btn-danger">Know more about me</a>
    </div>
</div>
</div>

{% endblock sidebar %}